<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <title>Ng Products</title>
</head>
<body ng-app="productManagement" class="margin-top-10">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table ng-controller="ProductListController as vm" class="table table-bordered table-hover table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-1">
                                <button class="btn btn-primary" ng-click="vm.toggleImage()">
                                    <i class="glyphicon glyphicon-camera"></i>&nbsp;{{vm.showImage? "Hide Image" : "Show Image"}}
                                </button>
                            </th>
                            <th class="col-sm-4">Product</th>
                            <th class="col-sm-4">Code</th>
                            <th class="col-sm-2">Available</th>
                            <th class="col-sm-1">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in vm.products">
                            <td>
                                <img class="productImg thumbnail" ng-if="vm.showImage" ng-src="{{product.imageUrl}}" />
                            </td>
                            <td>{{product.productName}}</td>
                            <td>{{product.productCode}}</td>
                            <td>{{product.releaseDate}}</td>
                            <td>{{product.price | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!--Libraries-->
    <script src="Scripts/Lib/jquery-2.1.4.js"></script>
    <script src="Scripts/Lib/angular.js"></script>
    <script src="Scripts/Lib/angular-resource.js"></script>
    <script src="Scripts/Lib/angular-mocks.js"></script>
    
    <!--Application script-->
    <script src="Scripts/App/app.js"></script>
    
    <!--Services-->
    <script src="Scripts/Common/Services/common.services.js"></script>
    <script src="Scripts/Common/Services/productResource.js"></script>
    <script src="Scripts/Common/Services/productResourceMock.js"></script>
    
    
    
    <!--Controllers-->
    <script src="Scripts/App/products/productListController.js"></script>
</body>
</html>
